@if (isSidebarCollapsed()) {
  <div
    class="sidenav-copyright-icon"
    matTooltipPosition="right"
    [matTooltip]="copyrightTooltip()"
  >
    <ix-icon name="copyright"></ix-icon>
  </div>
} @else {
  <div class="sidenav-copyright-txt">
    @if (hostname$ | async; as hostname) {
      <div
        class="hostname-label"
        [matTooltip]="'Hostname: {hostname}' | translate: { hostname }"
      >{{ hostname }}</div>
    }
    <ix-copyright-line class="copyright-line"></ix-copyright-line>
  </div>
}
