.hostname-label {
  font-size: 12px;
  margin: auto auto 10px;
  text-align: center;
}

.sidenav-copyright-txt {
  font-size: 0.6rem;
  margin: 1rem auto;
  opacity: 0.5;
  text-align: center;
  width: 100%;

  .copyright-line {
    font-size: 10px;
    margin: 0 58px;
  }
}

.sidenav-copyright-icon {
  margin: 3rem auto 0.5rem;
  opacity: 0.4;
  text-align: center;
}
