@import 'scss-imports/cssvars';
@import 'scss-imports/variables';

.container {
  display: flex;
  flex-direction: row;

  .main-content {
    flex-grow: 1;
  }

  main {
    padding: 16px;
  }
}

.alert-sidenav {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
}

.skip-to-content {
  background: var(--topbar);
  box-sizing: border-box;
  color: var(--primary-lighter);
  cursor: pointer;
  left: 0;
  padding: 14px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  transform: translateY(-100%);
  width: $sidebar-width;
  z-index: 100;

  &:focus {
    transform: translateY(0);
  }
}
