<div class="container">
  <a
    ixTest="skip-to-content"
    class="skip-to-content"
    [tabindex]="0"
    (click)="focusOnMain()"
    (keydown.enter)="focusOnMain()"
  >
    {{ 'Skip to Content' | translate }}
  </a>

  <ix-main-sidebar></ix-main-sidebar>

  <div class="main-content">
    <ix-topbar></ix-topbar>

    <!-- Keep id here for Skip to Content link -->
    <main
      #main
      tabindex="-1"
      [class.has-console-footer]="hasConsoleFooter$ | async">
      <ix-default-page-header></ix-default-page-header>
      <router-outlet></router-outlet>
    </main>

    @if (hasConsoleFooter$ | async) {
      <ix-console-footer></ix-console-footer>
    }
  </div>

  <!-- Alert bar -->
  <mat-sidenav
    class="alert-sidenav"
    position="end"
    [opened]="isAlertPanelOpen$ | async"
    (closed)="onAlertsPanelClosed()"
  >
    <ix-alerts-panel></ix-alerts-panel>
  </mat-sidenav>
</div>

<ix-slide-in id="ix-slide-in-form"></ix-slide-in>
<ix-chained-slide-in id="ix-chained-slide-in-form"></ix-chained-slide-in>
