<mat-list-item
  class="menu-item"
  role="listitem"
  routerLinkActive="highlighted"
  [class.collapsed]="collapsed()"
>
  <a
    matTooltipPosition="right"
    [routerLink]="routerLink()"
    [ixTest]="['menu-item', item().name]"
    [matTooltip]="collapsed() ? (item().name | translate) : null"
  >
    <ix-icon class="icon" [name]="item().icon"></ix-icon>
    <span class="label">{{ item().name | translate }}</span>

    @if (hasSubmenu()) {
      <ix-icon class="caret" name="keyboard_arrow_right"></ix-icon>
    }
  </a>
</mat-list-item>
